<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div  sec:authorize="hasRole('ROLE_ADMIN')">
</div>
<section class="banner">
    <div class="banner__overlay"></div>
    <div class="banner__content">
        <header class="header">
            <div class="header__container">
                <a th:href="@{/u/home}" class="header__logo">Sorriso Hotéis</a>
                <div class="header__language">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="Bandeira do Brasil" class="header__flag">
                    <span class="header__currency">BRL</span>
                </div>
                <div class="perfil-container">
                    <div class="perfil-imagem">
                        <img src="/img/ImgUser.png" alt="Perfil" />
                    </div>
                    <div class="perfil-texto">
                        <span sec:authentication="name"></span>
                    </div>
                    <a class="botao-deslogar" th:href="@{/logout}">Deslogar</a>
                </div>
            </div>
            <div class="v225_23"><span class="v225_93">Relatório</span>
                <div class="v225_94"></div>
                    <span class="v225_95">Localização:</span>
                    <span class="v225_96">Data:</span>
                    <span class="v225_97">Vezes Reservada:</span>
                <div class="v225_98"></div>
                <div class="v225_101"></div>
                <div class="v225_102"></div>
                <div class="v225_103"></div>
                <div class="v225_110"></div>
                    <span class="v225_104">Gerar Relatório</span>
                <a th:href="@{/a/admin/cadastrar}" class="v225_105">Cadastro de Hoteis</a>
            </div>
        </header>
</body>
</html>
