<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Tela inicial do Sistema</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div sec:authorize="isAuthenticated()">
  <section class="banner">
    <div class="banner__overlay"></div>
    <div class="banner__content">
      <header class="header">
        <div class="header__container">
          <a th:href="@{/u/home}" class="header__logo">Sorriso Hotéis</a>
          <div class="header__language">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="Bandeira do Brasil" class="header__flag">
            <span class="header__currency">BRL</span>
          </div>
          <div class="perfil-container">
            <div class="perfil-imagem">
              <img src="/img/ImgUser.png" alt="Perfil" />
            </div>
            <div class="perfil-texto">
              <span sec:authentication="name"></span>
            </div>
            <a class="botao-deslogar" th:href="@{/logout}">Deslogar</a>
          </div>
        </div>
      </header>
    </div>
  </section>
  <div class="v64_39">
    <div class="v64_86"></div>
    <div class="v64_140"></div>
    <div class="v64_141"></div>
    <div class="v64_142"></div>
    <div class="v64_143"></div>
    <div class="v64_144"></div>
    <div class="v64_88"></div>
    <hr class="v64_117">
    <hr class="v64_122">
    <div class="v64_123"></div>
    <div class="v64_89"></div>
    <div class="v64_116"></div>
    <div class="v64_92"></div>
    <div class="v64_90"></div>
    <span class="v64_91">8,7</span>
    <span class="v64_93">Ótimo</span>
    <span class="v64_94">1492 avaliações</span>
    <div class="v64_95"></div>
    <div class="v64_96"></div>
    <span class="v64_100">1</span>
    <span class="v64_101">2</span>
    <span class="v64_115">3</span>
    <div class="v64_102"></div>
    <div class="v64_103"></div>
    <div class="v64_104"></div>
    <div class="v64_106"></div>
    <span class="v64_107">3821,00</span>
    <div class="v64_109"></div>
    <span class="v64_111">3821,00</span>
    <div class="v64_112"></div>
    <a class="v64_113" th:href="@{/u/pagamento}">Próximo: últimas informações</a>
    <div class="v64_114">></div>
  </div>
</div>
</body>
</html>