<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Tela inicial do Sistema</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
  <section class="banner">
    <div class="banner__overlay"></div>
    <div class="banner__content">
      <header class="header">
        <div class="header__container">
          <a th:href="@{/u/home}" class="header__logo">Sorriso Hotéis</a>
          <div class="header__language">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="Bandeira do Brasil" class="header__flag">
            <span class="header__currency">BRL</span>
          </div>
          <div class="perfil-container">
            <div class="perfil-imagem">
              <img src="/img/ImgUser.png" alt="Perfil" />
            </div>
            <div class="perfil-texto">
              <span sec:authentication="name"></span>
            </div>
            <a class="botao-deslogar" th:href="@{/logout}">Deslogar</a>
          </div>
        </div>
      </header>
    </div>
  </section>
  <div class="espaco">
    <div class="v60_23"></div>
    <div class="v60_24"></div><span class="v60_31">Hotel Empório Acapulco</span><span class="v60_40">Hotel Las Torres Gemelas Acapulco</span>
    <div class="v60_26"></div>
    <div class="v60_29"></div>
    <span class="v60_32">Costera Acapulco, Acapulco</span>
    <span class="v61_45">Costera Acapulco, Acapulco</span>
    <span class="v60_36">Ótimo</span><span class="v60_41">Muito Bom</span>
    <div class="v60_37"></div>
    <div class="v60_42"></div>
    <span class="v60_38">2857 avaliações</span>
    <span class="v60_43">1492 avaliações</span>
    <span class="v60_39">9,3</span>
    <span class="v60_44">8,7</span>
    <span class="v61_46">Quarto Superior com Vista Mar 2 camas de casal</span>
    <span class="v61_58">Quarto Família 3 camas (1 de solteiro, 1 de casal, 1 sofá-cama)</span>
    <span class="v61_47">Beira-mar</span>
    <span class="v61_59">Beira-mar</span>
    <span class="v61_48">0,5 km do centro</span>
    <span class="v61_60">1,2 km do centro</span>
    <div class="v61_56"></div>
    <div class="v61_61"></div>
    <span class="v61_62">1 Semana, 2 Adultos</span>
    <span class="v61_63">R$2879</span>
    <div class="v61_64"></div>
    <a th:href="@{/u/hotel}" class="v61_68">Ver Disponibilidade</a>
    <span class="v61_65">1 Semana, 2 Adultos</span>
    <span class="v61_66">R$3821</span>
    <div class="v61_67"></div>
    <a th:href="@{/u/hotel2}" class="v61_69">Ver Disponibilidade</a>
  </div>
</body>
</html>