<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Hotel</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div sec:authorize="isAuthenticated()">
  <section class="banner">
    <div class="banner__overlay"></div>
    <div class="banner__content">
      <header class="header">
        <div class="header__container">
          <a th:href="@{/u/home}" class="header__logo">Sorriso Hotéis</a>
          <div class="header__language">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="Bandeira do Brasil" class="header__flag">
            <span class="header__currency">BRL</span>
          </div>
          <div class="perfil-container">
            <div class="perfil-imagem">
              <img src="/img/ImgUser.png" alt="Perfil" />
            </div>
            <div class="perfil-texto">
              <span sec:authentication="name"></span>
            </div>
            <a class="botao-deslogar" th:href="@{/logout}">Deslogar</a>
          </div>
        </div>
      </header>
    </div>
  </section>
    <div class="name"></div>
      <span class="v63_3">Visão Geral</span>
      <span class="v63_4">Informações sobre o apartamento e preço</span>
      <span class="v63_5">Comodidades</span>
      <span class="v63_6">Políticas</span>
      <span class="v63_7">Pormenores</span>
      <span class="v63_8">Avaliações de Hóspedes (201)</span>
    <hr class="v63_9">
    <div class="name"></div>
      <span class="v63_14">Hotel Empório Acapulco</span>
      <div class="v63_18"></div>
      <div class="v63_24"></div>
      <div class="v63_26"></div>
      <div class="v63_30"></div>
      <div class="v63_36"></div>
        <a th:href="@{/u/reserva}" class="v63_38">Reservar agora</a>
        <span class="v63_16">Costera Miguel Aleman 121, Fraccionamiento Magallanes, Costera Acapulco, 39670 Acapulco, México</span>
      <div class="v63_123"></div>
        <span class="v63_118">Ótimo</span>
      <div class="v63_119"></div>
        <span class="v63_120">2857 avaliações</span>
        <span class="v63_121">9,3</span>
</body>
</html>