<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Tela inicial do Sistema</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div sec:authorize="isAuthenticated()">
  <div class="v80_134">
    <div class="v80_135"></div>
  <section class="banner">
    <div class="banner__overlay"></div>
    <div class="banner__content">
      <header class="header">
        <div class="header__container">
          <a th:href="@{/u/home}" class="header__logo">Sorriso Hotéis</a>
          <div class="header__language">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg"
                 alt="Bandeira do Brasil" class="header__flag">
            <span class="header__currency">BRL</span>
          </div>
          <div class="perfil-container">
            <div class="perfil-imagem">
              <img src="/img/ImgUser.png" alt="Perfil" />
            </div>
            <div class="perfil-texto">
              <span sec:authentication="name"></span>
            </div>
            <a class="botao-deslogar" th:href="@{/logout}">Deslogar</a>
          </div>
        </div>
      </header>
    </div>
  </section>
    <div class="v80_114">
      <span class="v80_116">Parabéns! Sua Reserva foi concluída com sucesso!</span>
      <span class="v80_125">Local: Hotel Las Torres Gemelas Acapulco</span>
      <span class="v80_126">Data Chegada: 26/10/2024 -> Data Saída: 02/11/2024</span>
      <span class="v80_129">Foi enviado um e-mail para o endereço xxxxxxxx@gmail.com com todos os dados
                  respectivos da sua estadia.</span>
      <span class="v80_130">Espero que sua experiência conosco tenha sido do seu agrado. Até a próxima!</span>
    </div>
    <div class="v80_131"></div>
    <a class="v80_132" th:href="@{/u/home}">Voltar à página de Início</a>
</div>
</div>
</body>

</html>