<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Tela inicial do Sistema</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<section class="banner">
    <div class="banner__overlay"></div>
    <div class="banner__content">
        <header class="header">
            <div class="header__container">
                <div class="header__logo">Sorriso Hotéis</div>
                <div class="header__language">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="Bandeira do Brasil" class="header__flag">
                    <span class="header__currency">BRL</span>
                </div>
                <div class="header__auth-buttons">
                    <a class="button button--register" th:href="@{/register}">Cadastre-se</a>
                    <a class="button button--login" th:href="@{/login}">Login</a>
                </div>
            </div>
        </header>
        <div class="banner__space">
        <h1 class="banner__title">Encontre sua próxima estadia com alegria!</h1>
        <p class="banner__subtitle">Ofertas econômicas ou luxuosas no precinho para deixar você sorrindo.</p>
        <div class="banner__search-bar">
            <input type="text" placeholder="Para onde você vai?" class="banner__input">
            <input type="text" placeholder="Data de check-in - Data de Check-out" class="banner__input">
            <input type="text" placeholder="2 adultos · 0 criança · 1 cômodo" class="banner__input">
            <button class="banner__button">PESQUISAR</button>
        </div>
        </div>
    </div>
</section>

<section class="offers">
    <h2 class="offers__title">Ofertas</h2>
    <p class="offers__subtitle">Promoções e Ofertas especiais para você</p>
    <div class="offers__card">
        <img src="https://via.placeholder.com/150" alt="Viagem" class="offers__image">
        <div class="offers__content">
            <h3 class="offers__card-title">Viagens de Fim de Ano com muita diversão</h3>
            <p class="offers__description">
                Encerre o seu ano com o melhor vista pagando o melhor preço com a Sorriso Hotéis. Economize 20% ou mais ao reservar o seu quarto até 5 de Janeiro de 2025.
            </p>
            <button class="offers__button">Confira as ofertas disponíveis</button>
        </div>
    </div>
</section>
</body>
</html>
