<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Tela inicial do Sistema</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div sec:authorize="isAuthenticated()">
  <section class="banner">
    <div class="banner__overlay"></div>
    <div class="banner__content">
      <header class="header">
        <div class="header__container">
          <a th:href="@{/u/home}" class="header__logo">Sorriso Hotéis</a>
          <div class="header__language">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="Bandeira do Brasil" class="header__flag">
            <span class="header__currency">BRL</span>
          </div>
          <div class="perfil-container">
            <div class="perfil-imagem">
              <img src="/img/ImgUser.png" alt="Perfil" />
            </div>
            <div class="perfil-texto">
              <span sec:authentication="name"></span>
            </div>
            <a class="botao-deslogar" th:href="@{/logout}">Deslogar</a>
          </div>
        </div>
      </header>
    </div>
  </section>
  <div class="v64_39">
    <div class="v64_88"></div>
    <div class="v64_89"></div>
    <div class="v64_116"></div>
    <span class="v64_100">1</span>
    <span class="v64_101">2</span>
    <span class="v64_115">3</span>
    <hr class="v64_117">
    <hr class="v64_122">
    <div class="v79_55"></div>
    <div class="v79_59"></div>
    <div class="v79_61"></div>
    <span class="v79_62">3821,00</span>
    <div class="v79_63"></div>
    <span class="v79_64">3.040,54</span>
    <div class="v79_65"></div>
    <div class="v79_66"></div>
    <div class="v211_8"></div>
    <div class="v79_32"></div>
    <div class="v79_31"></div>
    <a class="v79_67" th:href="@{/u/confirmamento2}">Conclua a sua Reserva</a>
    <a class="v211_12" th:href="@{/u/reserva2}">Verifique seus dados</a>
  </div>

</div>
</body>
</html>